<div id="top-bar" class="container">
    <div class="row">
        <div class="span4">
            <form action="/users/searchText" method="post" class="search_form">
                <input type="text" class="search-query form-control input-group" Placeholder="Search book."
                    name="fieldBook">
                <span class="input-group-btn">
                    <button class="btn btn-primary rounded-circle btnpro" type="submit" id="btn-search">
                        <span class="fa fa-search"></span>
                    </button>
                </span>

            </form>
            <form action="/users/publishing" method="post" class="search_form">
                <input type="number" class="search-query form-control input-group" Placeholder="Publishing year."
                    name="year">
                <span class="input-group-btn">
                    <button class="btn btn-primary rounded-circle btnpro" type="submit" id="btn-search">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </form>
        </div>
        <div class="span8">
            <div class="account pull-right">
                <ul class="user-menu">
                    <li><a href="/users/profile">Tài Khoản</a></li>
                    <li><a href="/users/cart"> Giỏ hàng </a></li>
                    <li><a href="/users/checkout"> Thanh toán </a></li>
                    <li><a href="/users/logout"> Đăng xuất </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/users/homepage" class="logo pull-left">
                <h4 class="title">TIKIHO</h4>
            </a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li><a href="#">Tìm kiếm nâng cao</a>
                        <ul>
                            <li><a href="/users/tacgia-theloai">Tìm kiếm tác giả theo cùng 1 lĩnh vực</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Nhà xuất bản</a>
                        <ul>
                            {{#each NXB}}
                            <li><a href="/users/books/nxb/{{this.TenNhaXuatBan}}">{{this.TenNhaXuatBan}}</a></li>
                            {{/each}}
                        </ul>
                    </li>

                    <li><a href="#">Tác giả</a>
                        <ul>
                            {{#each tacgia}}
                            <li><a href="/users/books/tacgia/{{this.HoTen}}">{{this.HoTen}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    <!-- <li><a href="./products.html">Man</a></li>						
								<li><a href="./products.html">Hangbag</a></li> -->
                    <li><a href="#">Lĩnh vực</a>
                        <ul>
                            {{#each Ulinhvuc}}
                            <li><a href="/users/books/linhvuc/{{this.ALinhVuc}}">{{this.ALinhVuc}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="header_text sub">
        <img class="pageBanner" src="/../images/books/bia3.png" alt="New products">
        <h4><span>Chi tiết sản phẩm</span></h4>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span9">
                <div class="row">
                    <div class="span4">
                        <a href="#" class="thumbnail" data-fancybox-group="group1" title="Description 1"><img alt=""
                                src="/../images/books/{{book.ISBN}}.png" style="width: 200px; height: 250px;"></a>
                        {{!-- <ul class="thumbnails small">
                            <li class="span1">
                                <a href="themes/images/cloth/laptop2.jpg" class="thumbnail" data-fancybox-group="group1"
                                    title="Description 2"><img src="themes/images/cloth/laptop2.jpg" alt=""></a>
                            </li>
                            <li class="span1">
                                <a href="themes/images/cloth/laptop4.png" class="thumbnail" data-fancybox-group="group1"
                                    title="Description 3"><img src="themes/images/cloth/laptop4.png" alt=""></a>
                            </li>
                            <li class="span1">
                                <a href="themes/images/cloth/laptop3.png" class="thumbnail" data-fancybox-group="group1"
                                    title="Description 4"><img src="themes/images/cloth/laptop3.png" alt=""></a>
                            </li>
                            <li class="span1">
                                <a href="themes/images/cloth/laptop1.png" class="thumbnail" data-fancybox-group="group1"
                                    title="Description 5"><img src="themes/images/cloth/laptop1.png" alt=""></a>
                            </li>
                        </ul> --}}
                    </div>
                    <div class="span5">
                        <address>
                            <strong>Nhà xuất bản:</strong> <span>{{book.TenNhaXuatBan}}</span><br>
                            {{!-- <strong>Điểm đánh giá:</strong> <span>0</span><br> --}}
                            <strong>Tình trạng:</strong> <span>Còn hàng</span><br>
                            <strong>Thể loại:</strong> <span>{{linhvuc.ALinhVuc}}</span><br>
                            {{!-- <strong>Lượt xem:</strong> <span>21932</span><br> --}}
                            {{!-- <strong>Đã bán:</strong> <span>2154</span><br> --}}
                        </address>
                        <h4><strong>Giá: {{book.GiaTien}}đ</strong></h4>
                    </div>
                    <div class="span5">
                        <form class="form-inline" action="/users/cart/{{book.ISBN}}" method="get">
                            <p>&nbsp;</p>
                            <label>SL:</label>
                            <input type="text" class="span1" placeholder="1">
                            <button class="btn btn-inverse" type="submit">Thêm vào giỏ</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home">Miêu tả</a></li>
                            <li class=""><a href="#profile">Thông tin sản phẩm</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">{{book.TenSach}} chưa có miêu tả </div>
                            <div class="tab-pane" id="profile">
                                <table class="table table-striped shop_attributes">
                                    <tbody>
                                        <tr class="">
                                            <th>ISBN</th>
                                            <td>{{book.ISBN}}</td>
                                        </tr>
                                        <tr class="alt">
                                            <th>Tên sách</th>
                                            <td>{{book.TenSach}}</td>
                                        </tr>
                                        <tr class="">
                                            <th>Giá tiền</th>
                                            <td>{{book.GiaTien}}</td>
                                        </tr>
                                        <tr class="alt">
                                            <th>Nhà xuất bản</th>
                                            <td>{{book.TenNhaXuatBan}}</td>
                                        </tr>
                                        <tr class="">
                                            <th>Lĩnh vực</th>
                                            <td>{{linhvuc.ALinhVuc}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="span9">
                        <br>
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>Sản phẩm</strong> cùng loại</span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a
                                    class="right button" href="#myCarousel-1" data-slide="next"></a>
                            </span>
                        </h4>
                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                {{!-- <span class="sale_tag"></span>
                                                <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop1.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus VivoBook Swift
                                                    SF315</a><br />
                                                <a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
                                                <p class="price">16.990.000đ</p> --}}
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                {{!-- <span class="sale_tag"></span>
                                                <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop3.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus VivoBook 5468</a><br />
                                                <a href="#" class="category">Core i5 - 7200U/4GB/500GB/14 HD</a>
                                                <p class="price">16.690.000đ</p> --}}
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop4.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus VivoBook
                                                    S510UA</a><br />
                                                <a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
                                                <p class="price">16.290.000đ</p> --}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop2.jpg"></a><br />
                                                <a href="product_detail.html" class="title">Asus VivoBook ES1</a><br />
                                                <a href="#" class="category">N3350/2GB/500GB/Win10</a>
                                                <p class="price">6.290.000đ</p> --}}
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop4.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus VivoBook 320</a><br />
                                                <a href="#" class="category">N3350/2GB/500GB/Win10</a>
                                                <p class="price">10.490.000đ</p> --}}
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop3.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus X541UA</a><br />
                                                <a href="#" class="category">i3 6100U/4GB/1TB/15.6"/Win10</a>
                                                <p class="price">9.990.000đ</p> --}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span9">
                        <br>
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>Sản phẩm</strong> cùng nhà sản
                                    xuất</span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a
                                    class="right button" href="#myCarousel-2" data-slide="next"></a>
                            </span>
                        </h4>
                        <div id="myCarousel-2" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop1.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus Swift SF315</a><br />
                                                <a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
                                                <p class="price">16.990.000đ</p> --}}
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop3.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus Vostro 5468</a><br />
                                                <a href="#" class="category">Core i5 - 7200U/4GB/500GB/14 HD</a>
                                                <p class="price">16.690.000đ</p> --}}
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop4.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus S510UA</a><br />
                                                <a href="#" class="category">i5 8250U/4GB/1TB/Win10</a>
                                                <p class="price">16.290.000đ</p> --}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop2.jpg"></a><br />
                                                <a href="product_detail.html" class="title">Asus ES1</a><br />
                                                <a href="#" class="category">N3350/2GB/500GB/Win10</a>
                                                <p class="price">6.290.000đ</p> --}}
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop4.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus IdeaPad 320</a><br />
                                                <a href="#" class="category">N3350/2GB/500GB/Win10</a>
                                                <p class="price">10.490.000đ</p> --}}
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                {{!-- <a href="product_detail.html"><img alt=""
                                                        src="themes/images/cloth/laptop3.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus X541UA</a><br />
                                                <a href="#" class="category">i3 6100U/4GB/1TB/15.6"/Win10</a>
                                                <p class="price">9.990.000đ</p> --}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 col">
                <div class="block">
                    <ul class="nav nav-list">
                        <li class="nav-header">Lĩnh vực</li>
                        <li><a href="products.html">Tiểu thuyết</a></li>
                        <li><a href="products.html">Truyện tranh</a></li>
                        <li><a href="products.html">Kinh tế</a></li>
                        <li><a href="products.html">Light novel</a></li>
                        <li><a href="products.html">Kỹ năng sống</a></li>
                        <li><a href="products.html">Ngôn tình</a></li>
                    </ul>
                    <br />
                    <ul class="nav nav-list below">
                        <li class="nav-header">Nhà sản xuất</li>
                        <li><a href="products.html">Hồng Đức</a></li>
                        <li><a href="products.html">Kim Đồng</a></li>
                        <li><a href="products.html">Trẻ</a></li>
                        <li><a href="products.html">Phương Nam</a></li>
                        <li><a href="products.html">Siro</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4 class="title">

                        <span class="pull-left"><span class="text">Ngẫu nhiên</span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button"
                                href="#myCarousel" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <a href="/users/book_detail/1"><img alt="" src="/../../images/books/1.PNG"
                                                    style="width: 150px; height: 200px;"></a><br />
                                            <a href="/users/book_detail/1" class="title">Hoàng tử bé</a><br />
                                            {{!-- <a href="#" class="category">7130U/4GB/128GB/Win10</a> --}}
                                            <p class="price">100.000đ</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box">
                                            <a href="/users/book_detail/2"><img alt="" src="/../../images/books/2.PNG"
                                                    style="width: 150px; height: 200px;"></a><br />
                                            <a href="/users/book_detail/2" class="title">Đọc sách điểm
                                                sách</a><br />
                                            {{!-- <a href="#" class="category">6006U/4GB/1TB/Win10</a> --}}
                                            <p class="price">100.000đ</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            {{!-- <a href="product_detail.html"><img alt=""
                                                    src="themes/images/cloth/laptop2.jpg"></a><br />
                                            <a href="product_detail.html" class="title">Lenovo IdeaPad 320</a><br />
                                            <a href="#" class="category">7130U/4GB/128GB/Win10</a>
                                            <p class="price">10.490.000đ</p> --}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box">
                                            {{!-- <a href="product_detail.html"><img alt=""
                                                    src="themes/images/cloth/laptop4.png"></a><br />
                                            <a href="product_detail.html" class="title">Lenovo IdeaPad 320</a><br />
                                            <a href="#" class="category">6006U/4GB/1TB/Win10</a>
                                            <p class="price">9.600.000đ</p> --}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title"><strong>Bán</strong> chạy</h4>
                    <ul class="small-product">
                        <li>
                            {{!-- <a href="#" title="Praesent tempor sem sodales">
                                <img src="themes/images/cloth/laptop3.png" alt="Praesent tempor sem sodales">
                            </a>
                            <a href="#">Lenovo IdeaPad 320 15IKBN</a> --}}
                        </li>
                        <li>
                            {{!-- <a href="#" title="Luctus quam ultrices rutrum">
                                <img src="themes/images/cloth/laptop4.png" alt="Luctus quam ultrices rutrum">
                            </a>
                            <a href="#">Asus X541UA i3 6100U</a> --}}
                        </li>
                        <li>
                            {{!-- <a href="#" title="Fusce id molestie massa">
                                <img src="themes/images/cloth/laptop1.png" alt="Fusce id molestie massa">
                            </a>
                            <a href="#">HP 15 bs578TU</a> --}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: #857474;" id="footer-bar">
        <div class="row">
            <div class="span3">
                <h4>Điều Hướng</h4>
                <ul class="nav">
                    <li><a href="/users/homepage">Trang chủ</a></li>
                    <li><a href="./about.html">Thông tin</a></li>
                    <li><a href="./contact.html">Liên hệ</a></li>
                    <li><a href="/users/cart">Giỏ hàng</a></li>
                    <li><a href="/users/login">Đăng nhập</a></li>
                </ul>
            </div>
            <div class="span4">
                <h4>My Account</h4>
                <ul class="nav">
                    <li><a href="#">Tài khoản của tôi</a></li>
                    <li><a href="#">Lịch sử đặt hàng</a></li>
                    <li><a href="#">Danh sách yêu thích</a></li>
                    <!-- <li><a href="#">Làm mới</a></li> -->
                </ul>
            </div>
            <div class="span5">
                <p class="logo">
                    <!-- <img src="themes/images/logo.png" class="site_logo" alt=""> -->
                <h4>TIKIHO</h4>
                </p>
                <p style="color: white;">Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới nhất
                    trên thị trường hiện nay
                    <br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới nhé!
                </p>
                <div style="margin-left: 60px;">
                    <a href="#" class="button">
                        <i class="fab fa-facebook-f fa-lg"></i>
                    </a>
                    <a href="#" class="button">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="#" class="button">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section id="copyright">
        <span>Copyright 2020 bootstrappage template All right reserved.</span>
    </section>
</div>