<div id="top-bar" class="container">
	<div class="row">
		<div class="span4">
			<form action="/users/searchText" method="post" class="search_form">
				<input type="text" class="search-query form-control input-group" Placeholder="Search book."
					name="fieldBook">
				<span class="input-group-btn">
					<button class="btn btn-primary rounded-circle btnpro" type="submit" id="btn-search">
						<span class="fa fa-search"></span>
					</button>
				</span>

			</form>
			<form action="/users/publishing" method="post" class="search_form">
				<input type="number" class="search-query form-control input-group" Placeholder="Publishing year."
					name="year">
				<span class="input-group-btn">
					<button class="btn btn-primary rounded-circle btnpro" type="submit" id="btn-search">
						<span class="fa fa-search"></span>
					</button>
				</span>
			</form>
		</div>
		<div class="span8">
			<div class="account pull-right">
				<ul class="user-menu">
					<li><a href="/users/cart">Giỏ hàng</a></li>
					<li><a href="/users/checkout">Thanh toán</a></li>
					<li><a href="/users/profile">DPH</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="wrapper" class="container">
	<section class="navbar main-menu">
		<div class="navbar-inner main-menu">
			<a href="/users/homepage" class="logo pull-left">
				<h4 class="title">TIKIHO </h4>
			</a>
			<nav id="menu" class="pull-right">
				<ul>
					<li><a href="#">Tìm kiếm nâng cao</a>
						<ul>
							<li><a href="/users/tacgia-theloai">Tìm kiếm tác giả theo cùng 1 lĩnh vực</a>
							</li>
						</ul>
					</li>

					<li><a href="#">Nhà xuất bản</a>
						<ul>
							{{#each NXB}}
							<li><a href="/users/books/nxb/{{this.TenNhaXuatBan}}">{{this.TenNhaXuatBan}}</a></li>
							{{/each}}
						</ul>
					</li>

					<li><a href="#">Tác giả</a>
						<ul>
							{{#each tacgia}}
							<li><a href="/users/books/tacgia/{{this.HoTen}}">{{this.HoTen}}</a></li>
							{{/each}}
						</ul>
					</li>
					<!-- <li><a href="./products.html">Man</a></li>						
								<li><a href="./products.html">Hangbag</a></li> -->
					<li><a href="#">Lĩnh vực</a>
						<ul>
							{{#each Ulinhvuc}}
							<li><a href="/users/books/linhvuc/{{this.ALinhVuc}}">{{this.ALinhVuc}}</a></li>
							{{/each}}
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</section>
	<section class="homepage-slider" id="home-slider">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="../images/books/bia1.jpg" style="width: 1300px; height: 250px;" alt="anh bia 1" />
					<div class="intro">
						<!--<h1>Laptop mua online</h1>
							<p><span>Giảm thêm đến 1.000.000đ</span></p>
							<p><span>Áp dụng kèm theo khuyến mãi trả thẳng khác</span></p> -->
					</div>
				</li>
				<li>
					<img src="../images/books/bia2.PNG" style="width: 1300px; height: 250px;" alt="anh bia 2" />

				</li>
				<li>
					<img src="../images/books/bia3.png" style="width: 1300px; height: 250px;" alt="anh bia 3" />

				</li>
				<li>
					<img src="../images/books/bia4.png" style="width: 1300px; height: 250px;" alt="anh bia 4" />

				</li>
				<li>
					<img src="../images/books/bia5.jpg" style="width: 1300px; height: 250px;" alt="anh bia 5" />

				</li>
			</ul>
		</div>
	</section>
	<section class="header_text">
		Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới nhất trên thị trường hiện nay
		<br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới nhé!

	</section>
	<br />
	<br />
	</section>
	<section class="main-content">
		<div class="row">
			<div class="span5">
				<h4 class="title"><span class="text"><strong>Thông tin</strong> cá nhân</span></h4>
				<form method="post">
					<input type="hidden" name="next" value="/">
					<fieldset>
						<div class="control-group">
							<label class="control-label">Họ tên</label>
							<div class="controls">
								<input type="text" class="output-xlarge" id="name" name="fullName" value="{{fullName}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Email</label>
							<div class="controls">
								<input type="text" class="output-xlarge" id="address" name="email" value="{{email}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Phone</label>
							<div class="controls">
								<input type="text" class="output-xlarge" id="numberphone" name="phone"
									value="{{phone}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Địa chỉ</label>
							<div class="controls">
								<input type="text	" class="output-xlarge" id="address" name="address"
									value="{{address}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">ID</label>
							<div class="controls">
								<input type="value" class="output-xlarge" id="numberphone" name="uid" disabled
									value="{{uid}}">
							</div>
						</div>
						<div class="control-group">
							<input tabindex="3" class="btn btn-primary large" type="submit" id="submit"
								value="Thay đổi thông tin">
							<hr>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="span7">
				<h4 class="title"><span class="text"><a href="/users/history"><strong>Lịch sử</strong> mua hàng</a></span></h4>
				<form action="newcustomer.html" method="post" class="form-stacked">
					<fieldset>
						<div class="control-group">
							<label class="control-label"><strong>Các sản phẩm đã mua</strong> </label>
						</div>
						{{#each transaction}}
						<li class="span3">
							<div class="product-box">
								<a href="/users/book_detail/{{this.ISBN}}"><img alt="" style="width: 150px; height: 200px;"
										src="../images/books/{{this.ISBN}}.png"></a><br />
								<a href="/users/book_detail/{{this.ISBN}}" class="title">{{this.TenSach}}</a><br />
								{{!-- <a href="#" class="category">i5 8250U/4GB/1TB/Win10</a> --}}
								<p class="price">{{this.price}}đ</p>
							</div>
						</li>
						{{/each}}
					</fieldset>

				</form>
			</div>
		</div>
	</section>
	<section style="background-color: #857474;" id="footer-bar">
		<div class="row">
			<div class="span3">
				<h4>Điều Hướng</h4>
				<ul class="nav">
					<li><a href="/users/homepage">Trang chủ</a></li>
					<li><a href="./about.html">Thông tin</a></li>
					<li><a href="./contact.html">Liên hệ</a></li>
					<li><a href="/users/cart">Giỏ hàng</a></li>
					<li><a href="/users/register">Đăng nhập</a></li>
				</ul>
			</div>
			<div class="span4">
				<h4>My Account</h4>
				<ul class="nav">
					<li><a href="/users/profile">Tài khoản của tôi</a></li>
					<li><a href="#">Lịch sử đặt hàng</a></li>
					<li><a href="#">Danh sách yêu thích</a></li>
					<!-- <li><a href="#">Làm mới</a></li> -->
				</ul>
			</div>
			<div class="span5">
				<p class="logo">
					<!-- <img src="themes/images/logo.png" class="site_logo" alt=""> -->
				<h4>TIKIHO</h4>
				</p>
				<p style="color: white;">Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới nhất
					trên thị trường hiện nay
					<br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới nhé!
				</p>
				<div style="margin-left: 60px;">
					<a href="#" class="button">
						<i class="fab fa-facebook-f fa-lg"></i>
					</a>
					<a href="#" class="button">
						<i class="fab fa-twitter fa-lg"></i>
					</a>
					<a href="#" class="button">
						<i class="fab fa-instagram fa-lg"></i>
					</a>
				</div>

			</div>
		</div>
	</section>

	<section id="copyright">
		<span>Copyright 2020 bootstrappage template All right reserved.</span>
	</section>
</div>
<script src="../homepage/themes/js/common.js"></script>
<script src="../homepage/themes/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(function () {
		$(document).ready(function () {
			$('.flexslider').flexslider({
				animation: "fade",
				slideshowSpeed: 4000,
				animationSpeed: 600,
				controlNav: false,
				directionNav: true,
				controlsContainer: ".flex-container" // the container that holds the flexslider
			});
		});
	});
	$(document).ready(function () {
		$('#checkout').click(function (e) {
			document.location.href = "checkout.html";
		})
	});

</script>